.boxes {
	background-color: #f0f0ef;
	text-align: center;
	padding: 0 1.5rem 1.5rem 1.5rem;
	overflow: hidden;

	

	@mixin atSmall {
		padding: 0 2.9rem 2rem 2.9rem;
	}

	&__blue {
		background-color: $mainBlue;
		padding: 0;
	}
	
	
	
	&__logos {
		display: flex;
	    flex-wrap: wrap;
	    margin: 1.5rem;
	    justify-content: center;
	    align-items: center;
	    max-width: auto;
		}

	&__logos > * {
		flex: 1 1 auto;
		margin: 1.5rem;
		/*padding: 2rem 2rem 4rem 2rem;*/
		vertical-align: center;
		max-width: 150px;
		min-width: 100px;
	}



}