.btn {
	background-color: #fff;
	color: $mainBlue;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;


	&__blue {
		background-color: $mainBlue;
		color:  #ce4ecb;
		padding: .2rem 1.2rem;
	}

	&__features {
		background-color: transparent;
		/*margin: 0rem auto 2.3rem auto;*/
	}


}






