.features {
	background-color: #f0f0ef;
	padding: 0 1.5rem 2.3rem 1.5rem;
	border-right: 8px solid #069cb0; 
	border-radius: 0px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;

	@mixin atSmall {
		margin-bottom: 10px;
		padding: 0 2.9rem 2.3rem 2.9rem;
	}

	@mixin atMedium {
		margin-bottom: 0px;
		padding: 0 2.9rem 2.6rem 2.9rem;
	}

	&__yellow {
		border-right: 8px solid #fcb124;
	}

	&__red {
			border-right: 8px solid #ef3d31;
		}
  
  


	&__title {
		color: $mainBlue;
		font-weight: 100;
		font-size: 1.8rem;
		text-align: center;
		padding-top: 2.125rem;
		margin: 0px;

		@mixin atSmall {
			font-size: 2.2rem;
			text-align: center;
			padding-top: 3.125rem;
		}

		@mixin atMedium {
			
		}
	}

	&__subtitle {
		font-size: 1.15rem;
		color: $mainBlue;
		text-align: center;
		font-weight: 300;
		margin: 1.66rem 0 2rem 0;
	}

	&__p {
		font-size: 1rem;
		line-height: 1.4;
		max-width: 85%;
		margin-left: auto;
		margin-right: auto;
		color: #5e647d;
		text-align: center;
		font-weight: 300;
		margin-bottom: 1.5rem;

		@mixin atSmall {
		font-size: 1.125rem;
		line-height: 23px;
		max-width: 60rem;
		margin-left: auto;
		margin-right: auto;
		}
		

		}




	&__p__box {
			font-size: 1rem;
			line-height: 1.4;
			color: #5e647d;
			text-align: center;
			font-weight: 100;
			/*max-width: 28.2rem;*/
			/*margin: 0 auto 0 auto;*/
			margin: 0 0 1.2rem 0;
		}



}

