.page-section {
	padding: .7rem 0;

	@mixin atMedium {
		padding: 1rem 0;
	}

	&__last {
		padding-bottom: 2rem;

		@mixin atMedium {
			padding-bottom: 4rem;
		}
	}

	&__first {
		padding-top: 1rem;

		@mixin atMedium {
			padding-top: 2rem;
		}
	}
}