.row {
	
	/*background-color: yellow;*/

	@mixin clearfix;

	&__gutters {
		margin-right: -20px;

	}

	&__gutters > div {
		padding-right: 20px;
		box-sizing: border-box;
	}

	@mixin atSmall {
		&__smal-4 {
		float: left;
		width: 100%;
		/*padding-left: 5px;
    	padding-right: 5px;*/
		}
	}

	@mixin atMedium {
		&__medium-4 {
		float: left;
		width: 33.33%;
		/*padding-left: 5px;
    	padding-right: 5px;*/
		}
	}

	@mixin atMedium {
		&__medium-6 {
		float: left;
		width: 50%;
		}
	}

	/* begin equal height rules */

	&__equal-height-at-medium {
		@mixin atMedium {
			display: flex;

		}

		& > div {
			float: none;
			display: flex;
	
		}
	}

}