.site-footer {

	text-align: center;

	&__logo {
		display: inline-block;
		width: 10.9rem;
		margin-bottom: 1rem;

		@mixin atSmall {
			margin-bottom: 4rem;
			}		
	}
	
	
	&__nav {


		ul {
			display: inline-block;
			margin: 0;
			margin-bottom: 0.6rem;
			@mixin clearfix

			@mixin atMedium {
				font-size: 1.2rem;
				margin-bottom: 2rem;
				}
		}


		li {
			list-style: none;
			float: none;
			padding-right: 1.875rem;
			padding-bottom: .5rem;

			@mixin atMedium {
				float: left;
			}

		}

		a {
			font-family: 'rubik', sans-serif;
			font-weight: 400;
			font-size: .9rem;
			color: $mainBlue;
			text-decoration: none;
			padding-top: 20px;
			
			@mixin atSmall {
				font-size: 1.2rem;
			}



		}

		

	}

	&__sub-nav {


		ul {
			display: inline-block;
			margin: 0;
			margin-bottom: .5rem;
			@mixin clearfix
			text-align: center;
		}

		li {
			color: #8b8b8b;
			list-style: none;
			float: none;
			padding-bottom: .5rem;
			padding-right: 1.875rem;
			font-family: 'rubik', sans-serif;
			font-weight: 400;
			font-size: .9rem;
			text-align: center;
			
			

				@mixin atMedium {
				float: left;
				font-size: .9rem;
				padding-right: 1.875rem;
				}

		}

		a {
			font-family: 'rubik', sans-serif;
			font-weight: 400;
			font-size: .9rem;
			color: #8b8b8b;
			text-decoration: none;
			padding-top: 20px;
		}	
	}
}