.site-header {
	position: absolute;
	z-index: 5;
	width: 100%;
	top: 1rem;

		@mixin atMedium {
			width: 100%;
			top: 3.75rem;
			}

	&__btn-container {
		float: right;
		padding: 11px 0px;
	}

	&__logo {
		display: inline-block;
		/*position: static;*/
		/*background: yellow;*/
		width: 8rem;
		padding-left: 18px;
		/*top: 3.75rem;*/

		@mixin atMedium {
			display: inline-block;
			width: 12rem;
			padding-left: 0px;
			}
	}

	
	&__menu-icon {
		width: 20px;
		height: 20px;
		position:absolute;
		z-index: 10;
		top:6px;
		right:30px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 30px;
			height: 4px;
			background-color: white;
			border-radius: 4px;
		}

		&__hamburger {
			position: absolute;
			top: 8px;
			left: 0;
			width: 30px;
			height: 4px;
			background-color: white;
			border-radius: 4px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 30px;
			height: 4px;
			background-color: white;
			border-radius: 4px;
		}

		
		@mixin atMedium {
			display: none;
		}
	}

	&__menu-content {
		display: none;

		@mixin atMedium {
			display: inline-block;
			float: right;
		}
	}


}