.software {
	background-color: #0e3d51;
	padding: 0 1.5rem 2.5rem 1.5rem;
	text-align: center;
	
	@mixin atSmall {
		padding: 0 2.9rem 3rem 2.9rem;
		}
	


	&__picture-box {
		display: flex;
		overflow: hidden;
		justify-content: center;
    	align-items: center;


		@mixin atSmall {
		max-height: 500px;
		}

		@mixin atLarge {
		max-height: 470px;
		}



	}

	&__image {
		/*display: block;*/
		width: 100%;
		height: auto;
		align-self: center;

				
	}	


	&__title {
		color: #fff;
		font-weight: 100;
		font-size: 1.8rem;
		text-align: center;
		padding-top: 2.125rem;
		margin: 0px;

		@mixin atSmall {
			font-size: 2.2rem;
			text-align: center;
			padding-top: 3.125rem;
		}
	}


	&__subtitle {
		font-size: 1.45rem;
		color: #fff;
		text-align: center;
		font-weight: 300;
		margin: 1rem 0 2rem 0;
	}

	

	&__p {
		font-size: 1.2rem;
		line-height: 1.4;
		color: #fff;
		text-align: center;
		font-weight: 100;
		max-width: 450px;
		padding-bottom: 30px;
		margin: 0 auto 0 auto;
	}

	


/*	&__resize {
		position: relative;
		overflow: hidden;


		&__image {	
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
				
		}	


	} */


}

